#![enable(implicit_some)]
// UiWidget::Container
Container(
    // UiTransformBuilder
    transform: (
        id:             "ingame_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
    ),
    // TODO: UiImageBuilder
    background: Texture(
        File(
            "resources/textures/bg_menu.png",
            ("IMAGE", (
                    // https://docs.rs/rendy-texture/0.4.0/src/rendy_texture/texture.rs.html#84-96
                    sampler_info: (
                        min_filter:  Nearest,
                        mag_filter:  Nearest,
                        mip_filter:  Nearest,
                        wrap_mode:   (Clamp, Clamp, Clamp),
                        lod_bias:    (0),
                        lod_range:   (start: (0), end: (0)),
                        border:      (0),
                        anisotropic: Off,
                    ),
            )),
        )
    ),
    children: [
        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "btn_primary",
                x:              0.0,
                y:              96.0,
                width:          224.0,
                height:         112.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "PRIMARY",
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                font_size:         20.0,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color:  (0.4, 0.4, 0.4, 1.0),
                press_text_color:  (0.4, 0.4, 0.4, 1.0),
                normal_image:      Texture(
                    File(
                        "resources/textures/btn_primary.png",
                        ("IMAGE", (
                                channel: Srgb,
                                sampler: (
                                    filter: Scale,
                                    wrap_mode: (Clamp, Clamp, Clamp),
                                )
                        )),
                    ),
                ),
            ),
        ),
        // UiWidget::Button
        Button(
            // UiTransformBuilder
            transform: (
                id:             "btn_secondary",
                x:              0.0,
                y:              -96.0,
                width:          224.0,
                height:         112.0,
                anchor:         Middle,
                mouse_reactive: true,
            ),
            // UiButtonBuilder
            button: (
                text:              "SECONDARY",
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                font_size:         20.0,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color:  (0.4, 0.4, 0.4, 1.0),
                press_text_color:  (0.4, 0.4, 0.4, 1.0),
                normal_image:      Texture(
                    File(
                        "resources/textures/btn_primary.png",
                        ("IMAGE", (
                                channel: Srgb,
                                sampler: (
                                    filter: Scale,
                                    wrap_mode: (Clamp, Clamp, Clamp),
                                )
                        )),
                    ),
                ),
            ),
        )
    ],
)
